<h1>Füchse der Welt</h2>
<h2>Welche gibt es?</h2>
<p>Hallo, ich möchte auf dieser Seite einen Überblick über verschiedene Füchse geben, die es auf der Welt gibt. Viel Spaß!</p>
<img src="bilder/fuchs_1.jpg">
