<html>
  <head>
  </head>
  <body>
    <ul>
      <li><a href="/">Hauptseite</a></li>
      <li><a href="/unterseite">Unterseite</a></li>
    </ul>
    <div>
      <%= yield %>
    </div>
  </body>
</html>
