<form action="seite_erstellen" method="post">
  <p>
    <label for="url_name">URL Name</label>
    <input name="url_name" />
  </p>
  <p>
    <label for="title">Titel</label>
    <input name="title" />
  </p>
  <p>
    <label for="description">Beschreibung</label>
    <textarea name="description"></textarea>
  </p>
  <p>
    <label for="image">Bild</label>
    <input name="image" />
  </p>
  <p>
    <input type="submit">
  </p>
</form>
