a {
  color: tomato;
}

ul {
  list-style: none;
  background-color: lightgray;
  padding-left: 0;
  width: 200px;
}

li {
  height: 35px;
  padding: 14px 0 0 10px;
}

li a {
  font-family: sans-serif;
  text-decoration: none;
}

li:hover {
  background-color: darkgray;
}

li:hover a {
  color: white;
}

div.navigation img {
  width: 100px;
  margin-left: 50px;
}

div.content {
  position: absolute;
  left: 250px;
  top: 0;
}

div.footer {
  margin-top: 25px;
}
